@model IList<QuizAsp.Models.QuestionViewModel>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index2</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div>
        @for (int i = 0; i < Model.Count; i++)
        {
            <div>@((i + 1) + ". ") @Model[i].Text</div>
            for (int j = 0; j < Model[i].Answer.Count; j++)
            {
                <div>
                    @if (Model[i].Answer[j].IsChecked && Model[i].Answer[j].IsCorrect)
                    {
                        <span><b>+</b></span>
                        @Html.CheckBox("chk", true, new { disabled = "disabled" });

                    }
                    else if (Model[i].Answer[j].IsCorrect)
                    {
                        <span><b>missed</b></span>
                        @Html.CheckBox("chk", true, new { disabled = "disabled" });

                    }
                    else if (!Model[i].Answer[j].IsCorrect && Model[i].Answer[j].IsChecked)
                    {
                        <span><b>-</b></span>
                        @Html.CheckBox("chk", true, new { disabled = "disabled" });
                    }
                    else
                    {
                        @Html.CheckBox("chk", false, new { disabled = "disabled" });
                    }
                    @Html.DisplayFor(x => @Model[i].Answer[j].Text)
                </div>
            }
            <hr />
        }
    </div>
</body>
</html>
