@model IList<QuizAsp.Models.QuestionViewModel>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index2</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
        @for (int i = 0; i < Model.Count; i++)
        {
            <div>@Model[i].Text</div>
            for (int j = 0; j < Model[i].Answer.Count; j++)
            {
                <div>
                    @if (Model[i].Answer[j].IsChecked && Model[i].Answer[j].IsCorrect)
                    {
                       
                        @Html.CheckBox("chk", true, new { disabled = "disabled"});
                        <span>+</span>
                    }
                    else if (Model[i].Answer[j].IsCorrect){
                        @Html.CheckBox("chk", true, new { disabled = "disabled" });
                        <span>missed</span>
                    }
                    else if (!Model[i].Answer[j].IsCorrect && Model[i].Answer[j].IsChecked)
                    {
                        @Html.CheckBox("chk", true, new { disabled = "disabled" });
                        <span>-</span>
                    }
                    else
                    {
                        @Html.CheckBox("chk", false, new { disabled = "disabled" });
                    }
                    @Html.DisplayFor(x => @Model[i].Answer[j].Text)
                            <hr />
                    </div>
            }
            <br />
        }
</body>
</html>
